In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('dirty_cafe_sales.csv')

In [4]:
df.head()

<bound method NDFrame.head of      Transaction ID      Item Quantity Price Per Unit Total Spent  \
0       TXN_1961373    Coffee        2            2.0         4.0
1       TXN_4977031      Cake        4            3.0        12.0
2       TXN_4271903    Cookie        4            1.0       ERROR
3       TXN_7034554     Salad        2            5.0        10.0
4       TXN_3160411    Coffee        2            2.0         4.0
...             ...       ...      ...            ...         ...
9995    TXN_7672686    Coffee        2            2.0         4.0
9996    TXN_9659401       NaN        3            NaN         3.0
9997    TXN_5255387    Coffee        4            2.0         8.0
9998    TXN_7695629    Cookie        3            NaN         3.0
9999    TXN_6170729  Sandwich        3            4.0        12.0

      Payment Method  Location Transaction Date
0        Credit Card  Takeaway       2023-09-08
1               Cash  In-store       2023-05-16
2        Credit Card  In-store       2023-07-19
3            UNKNOWN   UNKNOWN       2023-04-27
4     Digital Wallet  In-store       2023-06-11
...              ...       ...              ...
9995             NaN   UNKNOWN       2023-08-30
9996  Digital Wallet       NaN       2023-06-02
9997  Digital Wallet       NaN       2023-03-02
9998  Digital Wallet       NaN       2023-12-02
9999            Cash  In-store       2023-11-07

[10000 rows x 8 columns]>

In [5]:
df.isnull().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [6]:
df.tail()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [8]:
df.columns

Index(['Transaction ID', 'Item', 'Quantity', 'Price Per Unit', 'Total Spent',
       'Payment Method', 'Location', 'Transaction Date'],
      dtype='object')

In [9]:
df.dropna(subset=['Item'], inplace=True)

In [10]:
df.isnull().sum()

Transaction ID         0
Item                   0
Quantity             135
Price Per Unit       172
Total Spent          169
Payment Method      2497
Location            3161
Transaction Date     153
dtype: int64

In [11]:
# Convert 'Quantity' and 'Total Spent' to numeric, forcing errors to NaN
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')
df['Total Spent'] = pd.to_numeric(df['Total Spent'], errors='coerce')

# Fill missing 'Price Per Unit' values
df['Price Per Unit'] = df.apply(
    lambda row: row['Total Spent'] / row['Quantity'] if pd.isna(row['Price Per Unit']) and pd.notna(row['Total Spent']) and pd.notna(row['Quantity']) else row['Price Per Unit'],
    axis=1
)

In [12]:
df.isnull().sum()

Transaction ID         0
Item                   0
Quantity             461
Price Per Unit        11
Total Spent          491
Payment Method      2497
Location            3161
Transaction Date     153
dtype: int64

In [13]:
df.tail()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
9994,TXN_7851634,UNKNOWN,4.0,4.0,16.0,NaN,NaN,2023-01-08
9995,TXN_7672686,Coffee,2.0,2.0,4.0,NaN,UNKNOWN,2023-08-30
9997,TXN_5255387,Coffee,4.0,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3.0,1.0,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3.0,4.0,12.0,Cash,In-store,2023-11-07

In [14]:
# Hitung jumlah data dengan nilai 'UNKNOWN' pada kolom 'Item'
unknown_count = df[df['Item'] == 'UNKNOWN'].shape[0]
print(f"Jumlah data dengan nilai 'UNKNOWN' pada kolom 'Item': {unknown_count}")

# Hapus baris dengan nilai 'UNKNOWN' pada kolom 'Item'
df = df[df['Item'] != 'UNKNOWN']

Jumlah data dengan nilai 'UNKNOWN' pada kolom 'Item': 344

In [17]:
df.dropna(subset=['Price Per Unit'])

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4.0,1.0,NaN,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9993,TXN_4766549,Smoothie,2.0,4.0,NaN,Cash,NaN,2023-10-20
9995,TXN_7672686,Coffee,2.0,2.0,4.0,NaN,UNKNOWN,2023-08-30
9997,TXN_5255387,Coffee,4.0,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3.0,1.0,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3.0,4.0,12.0,Cash,In-store,2023-11-07

In [18]:
df.isnull().sum()

Transaction ID         0
Item                   0
Quantity             432
Price Per Unit         0
Total Spent          464
Payment Method      2407
Location            3039
Transaction Date     145
dtype: int64

In [19]:
# Isi nilai 'Total Spent' yang NaN dengan hasil perkalian 'Price Per Unit' dan 'Quantity'
df['Total Spent'] = df.apply(
    lambda row: row['Price Per Unit'] * row['Quantity'] if pd.isna(row['Total Spent']) and pd.notna(row['Quantity']) else row['Total Spent'],
    axis=1
)

TypeError: can't multiply sequence by non-int of type 'float'